In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("data/error_record_2022.xlsx")

C:\Users\robfr\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [4]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,Error Record,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2022-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Date,Production Area,Licensed Status,Product,Product Category,When Was Error Detected,Error Type - PPU,Error Type - NAERS,Who Made Error,Who Detected Error,Contributing Factors,GMP Failure Severity,Potential Outcome,Did This Lead To CAPA/RCA,Comments
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,Error Record,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2022-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Date,Production Area,Licensed Status,Product,Product Category,When Was Error Detected,Error Type - PPU,Error Type - NAERS,Who Made Error,Who Detected Error,Contributing Factors,GMP Failure Severity,Potential Outcome,Did This Lead To CAPA/RCA,Comments
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,2022-01-04 00:00:00,Zone 5 PN,B - Made under Section 10,adult bag,C - Parenteral Nutrition - adult,C - Check in preparation area,E - Assembly of starting materials,E15 - Incorrect batch number for diluent vials...,Op 25,Op 29,N - Distraction,Low,NaN,No,No BN recorded for WFI
6,NaN,2022-01-04 00:00:00,Zone 5 PN,B - Made under Section 10,adult bag,C - Parenteral Nutrition - adult,C - Check in preparation area,E - Assembly of starting materials,E7 - Incorrect quantity/volume of diluent asse...,Op 84,Op 29,N - Distraction,Low,NaN,No,No glucose 40% set up
7,NaN,2022-01-04 00:00:00,Zone 5 PN,B - Made under Section 10,adult bag,C - Parenteral Nutrition - adult,C - Check in preparation area,E - Assembly of starting materials,E7 - Incorrect quantity/volume of diluent asse...,Op 42,Op 29,N - Distraction,Low,NaN,No,1 extra smof bottle set up
8,NaN,2022-01-04 00:00:00,Zone 5 PN,B - Made under Section 10,Paed Bag,D - Parenteral Nutrition - paed,C - Check in preparation area,E - Assembly of starting materials,E13 - Incorrect batch number for drug vials re...,Op 43,Op 29,N - Distraction,Low,NaN,No,BN not recorded for Vaminolact
9,NaN,2022-01-04 00:00:00,Zone 5 PN,B - Made under Section 10,Paed Bag,D - Parenteral Nutrition - paed,C - Check in preparation area,E - Assembly of starting materials,E3 - Incorrect quantity of drug vials assemble...,Op 31,Op 29,N - Distraction,Low,NaN,No,1 extra vaminolact set up

In [6]:
df.shape()

TypeError: 'tuple' object is not callable

In [7]:
df.shape

(152, 16)

In [8]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')

In [9]:
df.describe()

       Unnamed: 0
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

In [13]:
df.to_csv("data/error_csv_clean.csv", index=False)

In [14]:
df = pd.read_csv("data/error_csv_clean.csv")

In [15]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,Error Record,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2022-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Date,Production Area,Licensed Status,Product,Product Category,When Was Error Detected,Error Type - PPU,Error Type - NAERS,Who Made Error,Who Detected Error,Contributing Factors,GMP Failure Severity,Potential Outcome,Did This Lead To CAPA/RCA,Comments
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN